---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div id="random-projects">
    {% for project in site.projects %}
    <div class="project" style="display: none;">
      {% if project.image %}
      <img src="{{ project.image }}" width="200" style="float: left; margin-right: 15px; margin-bottom: 10px;">
      {% endif %}

      <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
      <p>{{ project.description | markdownify }}</p>
      {% if project.link %}
      <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer">Link.</a>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <script>
    const projects = document.querySelectorAll('#random-projects .project');
    if (projects.length > 0) {
      const i = Math.floor(Math.random() * projects.length);
      projects[i].style.display = 'block';
    }
  </script>

</div>